.menu {
	height: 5em;
	width: 100%;
	background-color: black;
	

}
#title {
	margin: 0.2em;
	display: inline-block;
	font-family: Verdana;
	color: #e6e6ff;
	font-size: 3em;
}
.menuItem {
	height: 5em;
	width: 10em;
	background-color: white;
	display:inline-block; 
	font-family: Verdana;
	
}
body {
	background-color: #e6e6ff;
	margin:0;
padding:0;

}

.banner {
	height: 15em;
	width: 100%;
	background-color: white;

}
a {
	color: white;
	text-decoration: none;
	font-family: Verdana;
	font-size: 2em;
	margin-left: 1em;
}
a:hover {
	text-decoration: none;
	color: #ccccff;
}
img {

}
ul {
	display: inline;
}
.footer {
	margin-top:-0.50em;
	height: 3em;
	width: 100%;
	background-color: black;


}
#names {
	color: white;
	margin: 0.4em;
	display: block;
	font-family: Verdana;
	float: right;
}
#page-wrap{
	margin:0;
	padding:0;
}
