body{
	
	
	background-color:yellow;

	
	
}
#context{
	margin-left:5%;
	margin-right:5%;
	background-color:red;
	border-radius: 2px
}

#telephone{
	 display: center;
}
.haha{
	margin-left:20%;
}
#login{

}
a{
	text-decoration: none;
}
a:hover{
	color:red;
}

#aa{
	display:inline;
float:right;
}

